.spotsbg {
 background: #0d313d;
 height: 100vh;
 z-index: 1;
}

a {
   outline: 0;
}

 p { font-family: futura-pt, sans-serif;
font-style: normal;
font-size: 1.2em;
font-weight: 300;
color: #fff; 
margin-bottom: 0 !important;
}

.upfront{
  z-index: 999;
  position: relative;
}

h2{ font-family: futura-pt, sans-serif;
font-style: normal;
font-size: 28px;
font-weight: 400;
color: #fff; }

h3{ font-family: futura-pt, sans-serif;
font-style: normal;
font-size: 21px;
font-weight: 400;
color: #fff; }


.spotsnavbar {
z-index: 998;
position: relative;
margin-top: -220px;
right: 0;
left: 0;
height: 80px;
}

.spotsblue{
  background: #0d313d;
}

.scootup{
  margin-top: -11rem !important;
}

.spotsintro {
  position: fixed;
  bottom: 60px;
  width: 75%;
  right:0;
}

#float {
    position: relative;
    -webkit-animation: logoanimate 2s 1  normal forwards ease-out;
    animation: logoanimate 2s 1  normal forwards ease-out;
    z-index: 999 !important;
}

@-webkit-keyframes logoanimate {
    0% {
        top:300px; transform: scale(0.5); transform-origin: center; opacity: 0;
    }
    15% {
        top:300px; transform: scale(0.9); transform-origin: center; opacity: 1;
    }
    85% {
        top:300px; transform: scale(1); transform-origin: center; opacity: 1;
    }
    100% {
        top: -110px; transform: scale(0.25); transform-origin: center; 
    }
}
@keyframes logoanimate {
    0% {
        top:300px; transform: scale(0.5); transform-origin: center; opacity: 0;
    }
    20% {
        top:300px; transform: scale(0.9); transform-origin: center; opacity: 1;
    }
    85% {
        top:300px; transform: scale(1); transform-origin: center; opacity: 1;
    }
    100% {
        top: -110px; transform: scale(0.25); transform-origin: center; 
    }
}

@-webkit-keyframes movetitle {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 20px);
    }
}
@keyframes movetitle {
     0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 20px);
    }
}

@-webkit-keyframes movetitleback {
    0% {
        transform: translate(0px, 20px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes movetitleback {
     0% {
        transform: translate(0px, 20px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.titlemover{
-webkit-animation: movetitle 0.5s 1  normal forwards ease-out;
animation: movetitle 0.5s 1  normal forwards ease-out;

}

.titlemover:hover {
-webkit-animation: movetitleback 0.5s 1  normal forwards ease-out;
animation: movetitleback 0.5s 1  normal forwards ease-out;

}
.vimeo-wrapper {
   position: fixed;
   margin-top: 0px;
   top: 60;
   left: 0;
   width: 100%;
   height: 70%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 50vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.hoverable{
  transition: all .2s ease-in-out !important;
}

.hoverable:hover {

  box-shadow: 0px 0px 6px 4px rgba(0,0,0,.5) !important;
}


.nopadbottom{
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
}

.spotsnav {
  font-family: futura-pt, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
.spotsnav * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.spotsnav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}
.spotsnav a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}
.spotsnav a:before,
.spotsnav a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.spotsnav a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #f4921d;
  border-top: 3px solid #f4921d;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.spotsnav a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #f4921d;
  border-bottom: 3px solid #f4921d;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.spotsnav a:hover,
.spotsnav .current a {
  color: #ffffff;
}
.spotsnav a:hover:before,
.spotsnav .current a:before,
.spotsnav a:hover:after,
.spotsnav .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}


.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.butwhy{
  padding-right: 0px !important;

padding-left: 0px !important;
}

.biopad{
 position: fixed !important;
 top:100%;
 right:0;
 left:0;

}

.activeorange{
color: #f4921d !important;

}

#peterimage, #bradimage, #benimage, #steveimage{
  cursor: pointer !important;

}

.hovertitle:hover{
color: #f4921d !important;
}
#peterimage:hover + #petertitle {
  color: #f4921d !important;
  
}
#bradimage:hover + #bradtitle {
  color: #f4921d !important;
}
#benimage:hover + #bentitle {
  color: #f4921d !important;
}
#steveimage:hover + #stevetitle {
  color: #f4921d !important;
}




.biotextpad{
padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem
}


.dirbtn-1 {
  color: #fff !important;
}


.dirbtn {
  display: block;
  position: relative;
  overflow: hidden;
  
  text-align: center;
}
.dirbtn:before, .dirbtn:after,
.dirbtn .dirbtn--inner:before,
.dirbtn .dirbtn--inner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: currentColor;
  transition: 0.3s ease-in-out;
}

.dirbtn--cw:after,
.dirbtn--ccw:after,
.dirbtn--cw-tlbr:after,
.dirbtn--ccw-tlbr:after,
.dirbtn--cw-trbl:after,
.dirbtn--ccw-trbl:after {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
}
.dirbtn--cw .dirbtn--inner:before,
.dirbtn--ccw .dirbtn--inner:before,
.dirbtn--cw-tlbr .dirbtn--inner:before,
.dirbtn--ccw-tlbr .dirbtn--inner:before,
.dirbtn--cw-trbl .dirbtn--inner:before,
.dirbtn--ccw-trbl .dirbtn--inner:before {
  right: 0;
  left: auto;
}
.dirbtn--cw .dirbtn--inner:after,
.dirbtn--ccw .dirbtn--inner:after,
.dirbtn--cw-tlbr .dirbtn--inner:after,
.dirbtn--ccw-tlbr .dirbtn--inner:after,
.dirbtn--cw-trbl .dirbtn--inner:after,
.dirbtn--ccw-trbl .dirbtn--inner:after {
  top: auto;
  bottom: 0;
}

.dirbtn--cw:before, .dirbtn--cw:after {
  width: 0;
  height: 2px;
}
.dirbtn--cw .dirbtn--inner:before,
.dirbtn--cw .dirbtn--inner:after {
  width: 2px;
  height: 0;
}
.dirbtn--cw:hover:before, .dirbtn--cw:hover:after {
  width: 100%;
}
.dirbtn--cw:hover .dirbtn--inner:before,
.dirbtn--cw:hover .dirbtn--inner:after {
  height: 100%;
}

.

.dirbtn--cw-tlbr:before, .dirbtn--cw-tlbr:after {
  width: 0;
  height: 2px;
  transition-delay: 0.15s;
}
.dirbtn--cw-tlbr .dirbtn--inner:before,
.dirbtn--cw-tlbr .dirbtn--inner:after {
  width: 2px;
  height: 0;
  transition-delay: 0s;
}
.dirbtn--cw-tlbr:hover:before, .dirbtn--cw-tlbr:hover:after {
  width: 100%;
  transition-delay: 0s;
}
.dirbtn--cw-tlbr:hover .dirbtn--inner:before,
.dirbtn--cw-tlbr:hover .dirbtn--inner:after {
  height: 100%;
  transition-delay: 0.15s;
}



.dirbtn--cw-trbl:before, .dirbtn--cw-trbl:after {
  width: 0;
  height: 2px;
  transition-delay: 0s;
}
.dirbtn--cw-trbl .dirbtn--inner:before,
.dirbtn--cw-trbl .dirbtn--inner:after {
  width: 2px;
  height: 0;
  transition-delay: 0.15s;
}
.dirbtn--cw-trbl:hover:before, .dirbtn--cw-trbl:hover:after {
  width: 100%;
  transition-delay: 0.15s;
}
.dirbtn--cw-trbl:hover .dirbtn--inner:before,
.dirbtn--cw-trbl:hover .dirbtn--inner:after {
  height: 100%;
  transition-delay: 0s;
}

.dirbtn--ccw-trbl:before, .dirbtn--ccw-trbl:after {
  width: 2px;
  height: 0;
  transition-delay: 0s;
}
.dirbtn--ccw-trbl .dirbtn--inner:before,
.dirbtn--ccw-trbl .dirbtn--inner:after {
  width: 0;
  height: 2px;
  transition-delay: 0.15s;
}
.dirbtn--ccw-trbl:hover:before, .dirbtn--ccw-trbl:hover:after {
  height: 100%;
  transition-delay: 0.15s;
}
.dirbtn--ccw-trbl:hover .dirbtn--inner:before,
.dirbtn--ccw-trbl:hover .dirbtn--inner:after {
  width: 100%;
  transition-delay: 0s;
}

